.crypto-item-container {
  display: flex;
  justify-content: center;
}
.crypto-item-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: auto;
}
.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}
.coin h3 {
  font-size: 1.2rem;
  width: 170px;
  margin: 0;
}
.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin a {
  text-decoration: none;
}
.coin-symbol {
  text-transform: uppercase;
}
.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.coin-data span {
  font-weight: bold;
}

.coin-price,
.coin-marketcap,
.coin-percent {
  width: 200px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
